<!--<h1>Angular</h1>-->

<!--<img [src]="imageUrl" />-->
<!--<button (click)="onClick()">Save</button>-->


<!--&lt;!&ndash;<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange()"></favorite>&ndash;&gt;-->
<!--<favorite [isFavorite]="post.isFavorite">-->
  <!--<ng-container class="heading">-->
    <!--<p>Some heading text</p>-->
  <!--</ng-container>-->

  <!--<div class="body">-->
    <!--<p>Some body text</p>-->
  <!--</div>-->

<!--</favorite>-->

<new-course-form></new-course-form>

<signup-form></signup-form>

